.laydate_body .laydate_box,
.laydate_body .laydate_box *{
	margin:0; 
	padding:0;
}
.laydate-icon{
	height:22px;
	line-height:22px;
	padding-right:20px;
	border:1px solid #C6C6C6;
	background-repeat:no-repeat;
	background-position:right center;
	background-color:#ffffff;
	outline:0;
	background-image:url(../images/dateIcon.png);
}
.laydate_body .laydate_box{
	border-radius:4px;
	width:232px;
	font-size:13px;
	z-index:1010;
	*margin:-2px 0 0 -2px;
	*overflow:hidden;
	_margin:0;
	_position:absolute !important;
	background-color:#FFFFFF;
	border:1px solid #CED7E0;
	color:#666666;
}
.laydate_body .laydate_box li{
	list-style:none;
}
.laydate_body .laydate_box .laydate_void{
	color:#505050 !important;
	cursor:default !important;
}
.laydate_body .laydate_box a,
.laydate_body .laydate_box a:hover{
	text-decoration:none;
	blr:expression(this.onFocus=this.blur());
	cursor:pointer;
}
.laydate_body .laydate_box a:hover{
	text-decoration:none;
}
.laydate_body .laydate_box cite,
.laydate_body .laydate_box label{
	position:absolute;
	width:0;
	height:0;
	border-width:5px;
	border-style:dashed;
	border-color:transparent;
	overflow:hidden;
	cursor:pointer;
}
.laydate_body .laydate_box .laydate_time{
	display:none;
}
.laydate_body .laydate_box .laydate_show{
	display:block;
}
.laydate_body .laydate_box input{
	outline:0;
	font-size:14px;
	background-color:#ffffff;
}
.laydate_body .laydate_top{
	position:relative;
	padding:4px 11px 4px;
	*padding:4px 0 4px;
	text-align:center;
	*width:100%;
	z-index:99;
}
.laydate_body .laydate_top span.ym{
	color:#666666;
	cursor:pointer;
	display:inline-block;
	font-size:13px;
	height:26px;
	line-height:26px;
	margin:0 8px;
	text-align:center;
	vertical-align:middle;
	white-space:pre-wrap;
	width:110px;
	*display:inline;
	*zoom:1;
}
#laydate_ms{
	background-color:#FFFFFF;
	height:232px;
	position:absolute;
	margin:0px 11px;
	z-index:1000;
	top:-9999px;
	left:0px;
}
#laydate_ys{
	background-color:#FFFFFF;
	height:232px;
	position:absolute;
	margin:0px 11px;
	z-index:1001;
	top:-9999px;
	left:0px;
}
#laydate_ms span.chooseM, #laydate_ys span.chooseY{
	cursor:pointer;
	display:inline-block;
	font-size:13px;
	height:58px;
	line-height:58px;
	width:70px;
	*display:inline;
	*zoom:1;
}
#laydate_ms span.chooseM span:hover, #laydate_ys span.chooseY span:hover{
	background-color:#EEF3FF;
}
#laydate_ms span.chooseM span, #laydate_ys span.chooseY span{
	display:inline-block;
	width:66px;
	height:46px;
	line-height:46px;
	border:1px solid #FFFFFF;
	margin:5px 1px;
}
.laydate_body .laydate_top a.laydate_tab{
	display:inline-block;
	height:16px;
	width:16px;
	vertical-align:middle;
	*display:inline;
	*zoom:1;
}
.laydate_body .laydate_top a.laydate_chprev{
	background:url(../../web-static/images/lastPageB.png) no-repeat;
}
.laydate_body .laydate_top a.laydate_chprev:hover{
	background:url(../../web-static/images/lastPagePressed.png) no-repeat;
}
.laydate_body .laydate_top a.laydate_chnext{
	background:url(../../web-static/images/nextPageB.png) no-repeat;
}
.laydate_body .laydate_top a.laydate_chnext:hover{
	background:url(../../web-static/images/nextPagePressed.png) no-repeat;
}
.laydate_body .laydate_ym{
	position:relative;
	float:left;
	height:24px;
	cursor:pointer;
}
.laydate_body .laydate_ym input{
	float:left;
	height:24px;
	line-height:24px;
	text-align:center;
	border:none;
	cursor:pointer;
}
.laydate_body .laydate_ym .laydate_yms{
	position:absolute;
	left: -1px;
	top: 24px;
	height:181px;
}
.laydate_body .laydate_y{
	width:121px;
	margin-right:6px;
}
.laydate_body .laydate_y input{
	width:64px;
	margin-right:15px;
}
.laydate_body .laydate_y .laydate_yms{
	width:121px;
	text-align:center;
}
.laydate_body .laydate_y .laydate_yms a{
	position:relative;
	display:block;
	height:20px;
}
.laydate_body .laydate_y .laydate_yms ul{
	height:139px;
	padding:0;
	*overflow:hidden;
}
.laydate_body .laydate_y .laydate_yms ul li{
	float:left;
	width:60px;
	height:20px;
	line-height:20px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.laydate_body .laydate_m{
	width:99px;
}
.laydate_body .laydate_m .laydate_yms{
	width:99px;
	padding:0;
}
.laydate_body .laydate_m input{
	width:42px;
	margin-right:15px;
}
.laydate_body .laydate_m .laydate_yms span{
	display:block;
	float:left;
	width:42px;
	margin:5px 0 0 5px;
	line-height:24px;
	text-align:center;
	_display:inline;
}
.laydate_body .laydate_choose{
	display:block;
	float:left;
	position:relative;
	width:20px;
	height:24px;
}
.laydate_body .laydate_choose cite,
.laydate_body .laydate_tab cite{
	left:50%;
	top:50%;
}
.laydate_body .laydate_chtop cite{
	margin:-7px 0 0 -5px;
	border-bottom-style:solid;
}
.laydate_body .laydate_chdown cite,
.laydate_body .laydate_ym label{
	top:50%;
	margin:-2px 0 0 -5px;
	border-top-style:solid;
}
.laydate_body .laydate_chprev cite{
	margin:-5px 0 0 -7px;
}
.laydate_body .laydate_chnext cite{
	margin:-5px 0 0 -2px;
}
.laydate_body .laydate_ym label{
	right:28px;
}
.laydate_body .laydate_table{
	margin:0 11px;
	width:210px;
	border-collapse:collapse;
	border-spacing:0px;
	table-layout:fixed;
}
.laydate_body .laydate_table td{
	display:inline-block;
	width:30px;
	height:28px;
	line-height:28px;
	border:none;
	text-align:center;
	cursor:pointer;
	font-size:13px;
}
.laydate_body .laydate_table td:hover{
	color:#666666;
	font-weight:normal;
	background-color:#EEF3FF;
}
.laydate_body .laydate_table thead{
	height:28px;
	line-height:28px;
}
.laydate_body .laydate_table thead th{
	display:inline-block;
	width:30px;
	color:#666666;
	font-size:13px;
	text-align:center;
	background:#F2F2F2;
}
.laydate_body .laydate_table .laydate_nothis{
	color:#CCCCCC;
}
.laydate_body .laydate_table .laydate_today{
	background-color:#DEE8FF;
}
.laydate_body .laydate_table .laydate_today:hover{
	background-color:#F0F2F5;
}
.laydate_body .laydate_table .laydate_today span.borderBlue{
	/* width: */
}
.laydate_body .laydate_click{
	background-color:#5A92FF !important;
	border-radius:2px;
	color:#FFFFFF !important;
	font-weight:bold !important;
}
.laydate_table tr{
	width:210px;
	height:28px;
}
.laydate_body .laydate_bottom{
	position:relative;
	height:42px;
	line-height:42px;
	font-size:13px;
	margin:0 11px;
}
.laydate_body .laydate_padding{
	position:relative;
	padding:5px 0 5px;
	text-align:center;
	*width:100%;
	z-index:99;
}
.laydate_body .laydate_bottom #laydate_hms{
	position:relative;
	z-index:1;
	float:left;
}
.laydate_body .laydate_time{
	position:absolute;
	left:5px;
	bottom:26px;
	width:129px;
	height:125px;
	*overflow:hidden;
}
.laydate_body .laydate_time .laydate_hmsno{
	padding:5px 0 0 5px;
}
.laydate_body .laydate_time .laydate_hmsno span{
	display:block;
	float:left;
	width:24px;
	height:19px;
	line-height:19px;
	text-align:center;
	cursor:pointer;
	*margin-bottom:-5px;
}
.laydate_body .laydate_time1{
	width:228px;
	height:154px;
}
.laydate_body .laydate_time1 .laydate_hmsno{
	padding: 6px 0 0 8px;
}
.laydate_body .laydate_time1 .laydate_hmsno span{
	width:21px;
	height:20px;
	line-height:20px;
}
.laydate_body .laydate_msg{
	left:49px;
	bottom:67px;
	width:141px;
	height:auto;
	overflow:hidden;
}
.laydate_body .laydate_msg p{
	padding:5px 10px;
}
.laydate_body .laydate_bottom li{
	float:left;
	height:20px;
	line-height:20px;
	border-right:none;
	font-weight:900;
}
.laydate_body .laydate_bottom .laydate_sj{
	width:33px;
	text-align:center;
	font-weight:400;
}
.laydate_body .laydate_bottom input{
	float:left;
	width:21px;
	height:20px;
	line-height:20px;
	border:none;
	text-align:center;
	cursor:pointer;
	font-size:12px;
	font-weight:400;
}
.laydate_body .laydate_bottom .laydte_hsmtex{
	height:20px;
	line-height:20px;
	text-align:center;
}
.laydate_body .laydate_bottom .laydte_hsmtex span{
	position:absolute;
	width:20px;
	top:0;
	right:0px;
	cursor:pointer;
}
.laydate_body .laydate_bottom .laydte_hsmtex span:hover{
	font-size:14px;
}
.laydate_body .laydate_bottom .laydate_btn{
	text-align:center;
	width:100%;
}
.laydate_body .laydate_bottom .laydate_btn a{
	display:inline-block;
	height:26px;
	line-height:26px;
	width:210px;
	background-color:#5A92FF;
	border-radius:2px;
	font-size:13px;
	color:#FFFFFF;
	margin:4px 0 12px;
}
.laydate_body .laydate_bottom .laydate_v{
	position:absolute;
	left:10px; top:6px;
	font-family:Courier;
	z-index:0;
}

